html, body {
    margin:0px;
    height:100%;
    scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* \/ \/ \/ Css and styling for bar and buttons inside \/ \/ \/ */
#bar {
    height:10vh;
    background-color: rgb(87, 87, 87);
    padding: 0; border: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#525252 0 -3px 0 inset;
    
}
#bartwo {
    height:10vh;
    background-color: rgb(87, 87, 87);
    padding: 0; border: 0;
    display: flex;
    align-items: center;
    justify-content: right;
}
.buttonbar {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-left: 10px;
}
.buttonbar:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.buttonbar:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.buttonbar:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
/* /\ /\ /\ Css and styling for bar and buttons inside /\ /\ /\*/
/*--------------------------------------------------------------*/
/* \/ \/ \/ Sections \/ \/ \/ */
#front {
    height: 677.1px;
    background-color: rgb(112, 112, 112);
    padding: 0; border: 0;
    display: flex;
    text-align:center;
    position: relative;
    justify-content: right;
    
    
}
#spaceone { /* About me */
    height: 677.1px;
    background-color: rgb(235, 235, 235);
    padding: 0; border: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}
#spacetwo{ /* Projects */
    height: 1500px;
    background-color: rgb(112, 112, 112);
    padding: 0; border: 0;
    display:block;
    justify-content: left;
}
#spacethree { /* Future */
    height: 677.1px;
    background-color: rgb(235, 235, 235);
    padding: 0; border: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}
#footer {
    height:40vh;
    background-color: rgb(87, 87, 87);
    padding: 0; border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
} 
/* /\ /\ /\ Css and styling for bar and buttons inside /\ /\ /\*/
/*--------------------------------------------------------------*/

#projects {
    height:400px;
    width: 1480px;
    background-color: rgb(87, 87, 87);
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#525252 0 -3px 0 inset;
    margin-bottom: 20px;
    margin-left: 30px;
    
}

#projectsimg {
    padding: 10px;
    padding-left: 15px;
    width: 370px;
    height: 370px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#aboutme {
    height:630px;
    width: 1480px;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 30px;
    font-family: "JetBrains Mono",monospace;
    color: #36395A;
    font-size:x-large;
    padding: 10px;
}


#footertext {
    height:200px;
    width: 1480px;
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 30px;
    font-family: "JetBrains Mono",monospace;
    color: #36395A;
    font-size:x-large;
    padding: 10px;
}

.frontimg {
    height: 800px;
    width: 800px;
    margin:50px;
}

#frontme {
    height:130px;
    width: 1480px;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 30px;
    font-family: "JetBrains Mono",monospace;
    color: #36395A;
    font-size:xx-large;
    margin: 60px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#525252 0 -3px 0 inset;
}
