body {
    margin: 0;
    padding: 0;
}

.slide {
    width: 100vw;
    height: 100vh;
    
}
.top {
    margin-left: 100px;
    margin-right: 100px;
    margin-top:400px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
}
.top-two {
    margin-left: 100px;
    margin-right: 100px;
    margin-top:100px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
}

.top-left {
    margin: 10px
    
}
.image-size{
    width:600px;
}
.title{
    position: absolute;
    padding-left:500px;
}
.title h1 {
    font-size: 120px;
    background-color:#F2C9E0;
    padding-left:80px;
    padding-right:80px;
}
.title-bet{
    position: absolute;
    padding-left:500px;
}
.title-bet h1 {
    font-size: 120px;
    background-color:#F2C9E0;
    padding-left: 100px;
    padding-right: 100px;
}
.title-two{
    position: absolute;
    padding-left:500px;
    padding-top: 200px;
}
.title-two h1 {
    font-size: 120px;
    background-color:#F2C9E0;
    padding: 10px;
}
.inside {
    width: 90vw;
    height: 90vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    background-color: white;
    display:flex;
    
} 

.wrapper {
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg) translatey(-100vh);
    transform-origin: top left;
    font-family: 'Square Peg', cursive;
}
.one {
    background: #D96690
}
.two {
    background: #F28DB2
}
.three {
    background: #F2C9E0
}
.four {
    background: #89C2d9
}
.five {
    background:beige ;
}
.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translatex(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
}
::-webkit-scrollbar {
    display: none;
}
/* img {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    <img src="portfolio desgins/intro.png" alt="n" class="">
} */